<!-- Footer -->
<div id="footer">

	<!-- 960 Container -->
	<div class="container">

		<!--  Text Widget - 1/4 Columns -->
		<div class="four columns">
			<div id="footer-logo"><img src="../images/logo.png" alt=""/></div>

		</div>

		<!--  Contact - 1/4 Columns -->
		<div class="four columns foot">
			<ul class="social">
				<li class="facebook"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="vimeo"><a href="#"></a></li>
				<li class="linked"><a href="#"></a></li>
				<li class="flickr"><a href="#"></a></li>
			</ul>
			<!--div class="address"><img style="padding-top: 3px" src="images/mail.png" alt=""/><strong>Email:</strong><a href="#">code-patterns@wheatbridge.com</a></div-->
		</div>


		<!--  photo Stream - 1/4 Columns -->
		<!--div class="four columns">
			<h4>Photo Stream</h4>
			<div class="flickr-widget">
				<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>
				<div class="clearfix"></div>
			</div>
		</div-->

	</div><!-- End 960 Container -->
	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>
</div>
<!-- Imagebox Build -->
<script src="../js/imagebox.build.js"></script>
<script src="../js/main.js"></script>

</body>
</html>