<!-- 960 Container -->
<div class="container">

	<div class="sixteen columns"><h2 class="related-title"><span>Recent Work</span></h2></div>

	<!-- Project - 1/3 Columns -->
	<div class="one-third column">
		<div class="item">
			<div class="item-img">
				<a href="images/img_single_project_01.jpg" rel="imagebox[gallery]"
					 title="Donec seid odio dui. Nullalit libero, alea pharetra augue."><img src="images/img_project_01.jpg"
																																									 alt=""/>
					<div class="overlay zoom"></div>
				</a>
			</div>
			<div class="item-meta">
				<h4><a href="single_project.html">Architecture in Melbourne</a></h4>
				Your custom portolio item short description.
			</div>
		</div>
	</div>

	<!-- Project - 1/3 Columns -->
	<div class="one-third column">
		<div class="item">
			<div class="item-img">
				<a href="single_project.html"><img src="images/img_project_02.jpg" alt=""/>
					<div class="overlay link"></div>
				</a>
			</div>
			<div class="item-meta">
				<h4><a href="single_project.html">Architecture Design</a></h4>
				Ante venenatis dapibus posuere velit aliquet.
			</div>
		</div>
	</div>

	<!-- Project - 1/3 Columns -->
	<div class="one-third column">
		<div class="item">
			<div class="item-img">
				<a href="single_project.html"><img src="images/img_project_03.jpg" alt=""/>
					<div class="overlay link"></div>
				</a>
			</div>
			<div class="item-meta">
				<h4><a href="single_project.html">Building / Architecture</a></h4>
				Nullam dictum felis eu pede mollis pretium.
			</div>
		</div>
	</div>

</div>
<!-- End 960 Container -->
