|   <div class="container">
|       <div class="sixteen columns">
|        <div id="tagline">
|            <p>#{title}</p>
|            <p id="tagline-a">JavaScript Codex Pattern Collection</p>
|        </div>
|       </div>
|    </div>

block content
    include patterns/pattern-body.html


