extends pattern-layout

block content

    |<div class="container">
    div(class="twelve columns")
    p(id="tagline")
        da Vinci Code Patterns
    p(id="tagline-a")
    |</div>
        JavaScript Codex Pattern Collection
    include patterns/pattern-body.html

