@font-face {
  font-family: 'SketchBlock-Bold';
  src: url('./fonts/SketchBlock.eot'); /* IE9 Compat Modes */
  src: url('./fonts/SketchBlock.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

    url('./fonts/SketchBlock.woff') format('woff'), /* Modern Browsers */
    url('./fonts/SketchBlock.ttf') format('truetype'), /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}