
<!-- 960 Container -->
	<!-- Widget Container-->
	<div class="five columns">
		<div id="blog_widget_container">

			<!-- Search -->
			<div class="search">
				<input type="text" onblur="if(this.value=='')this.value='To search type and hit enter';" onfocus="if(this.value=='To search type and hit enter')this.value='';" value="To search type and hit enter" class="text"/>
			</div>

			<!-- Text Widget -->
			<div class="widget">
				<div class="widget-title"><h3>Pattern Description</h3></div>
				<div class="widget-text"><p>Donec sed odio dui. Nulla vitae elit liberopsu, alasa pharetra augue. Nullam id doore nieha ultricieseam vehicula ut idea elit. Integer posuererat.</p></div>
			</div>
			<!-- Categories -->
			<div class="widget">
				<div class="widget-title"><h3>Navigate Page</h3></div>
				<div class="widget-categories">
					<ul>
						<li><a href="#">Pattern Flowchart</a></li>
						<li><a href="#">Discussion</a></li>
						<li><a href="#">Test in Console</a></li>
						<li><a href="#">Comments</a></li>
						<li><a href="#">Appendix: Gist</a></li>
						<li><a href="#">Footnotes</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Widget Container-->


<!-- End 960 Container -->
