<!-- 960 Container -->
<div class="container">

	<!-- Posts Container-->
	<div class="eleven columns">
		<div id="blog_post_container">

			<!-- Post-->
			<div class="post">
				<h2><a href="blog_post.html">Through the pages of Tuscany (Standard Post)</a></h2>
				<div class="post-meta"><span class="icon-calendar"></span>On 10 June, 2012 <span class="icon-author"></span>By <a href="#">admin</a>  <span class="icon-comment"></span>With <a href="#">12 Comments</a></div>
				<div class="post-thumb"><a href="images/img_blog_01_large.jpg" rel="imagebox[gallery]" title="Through the pages of Tuscany"><img src="images/img_blog_post_01.jpg" alt=""/><div class="overlay zoom"></div></a></div>
				<div class="post-content">
					<p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id eliteas non mi gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis lorem eus semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna.</p>
					<p>Consectetur eras mattis consectetur purus sit amet fermentum. Donec id elit non mi gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis lorem eus semper. Donec ullamcorper nulla non metus auctor fringilla.</p>
					<br/>
				</div>
			</div>
			<!-- End Post-->

			<!-- Comments -->
			<div class="comments-sec">
				<h3>Comments <span>(4)</span></h3>

				<ol class="commentlist">
					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" width="50" height="50" border="0" /> </div>
							<div class="comment-des">
								<div class="comment-by"><strong>John Doe</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span> <span class="date">5 February 2012</span></div>
								<p>Maecenas dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris. Aliquam quis tellus vel massa mattis ornare et eu felis. </p>
							</div>
						</div>

						<ol class="childlist">
							<li>
								<div class="comments">
									<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
									<div class="comment-des">
										<div class="comment-by"><strong>Admin</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span> <span class="date">5 February 2012</span></div>
										<p>Dignissim euismod nunc, in commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris. Aliquam quis tellus vel massa mattis ornare.</p>
									</div>
								</div>
							</li>
						</ol>
					</li>

					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
							<div class="comment-des">
								<div class="comment-by"><strong>Kathy Brown</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span><span class="date">5 February 2012</span></div>
								<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
							</div>
						</div>
					</li>

					<li>
						<div class="comments">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" border="0" /> </div>
							<div class="comment-des">
								<div class="comment-by"><strong>John Doe</strong><span class="reply"><span style="color:#aaa">/ </span><a href="#">Reply</a></span><span class="date">5 February 2012</span></div>
								<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus. Mauris a felis arcu, vitae sollicitudin mauris.</p>
							</div>
						</div>
					</li>
				</ol>

			</div>
			<!-- End Comments -->

			<!-- Form -->
			<div class="comments-sec">
				<h3>Leave a Comment</h3>
				<div class="form_comment">
					<div>
						<label style="margin-top: 20px;">Name:</label>
						<input type="text" size="40" maxlength="60" value="" />
					</div>

					<div>
						<label>Email: <span>*</span></label>
						<input type="text" size="40" maxlength="60" value="" />
					</div>

					<div>
						<label>Message: <span>*</span></label>
						<textarea></textarea>
					</div>
				</div>
				<div class="form_send"><input type="submit" value="Submit"/></div>
			</div>
			<!-- End Form -->

		</div><!-- End Posts Container-->
	</div>

	<!-- Widget Container-->
	<div class="five columns">
		<div id="blog_widget_container">

			<!-- Search -->
			<div class="search">
				<input type="text" onblur="if(this.value=='')this.value='To search type and hit enter';" onfocus="if(this.value=='To search type and hit enter')this.value='';" value="To search type and hit enter" class="text"/>
			</div>

			<!-- Text Widget -->
			<div class="widget">
				<div class="widget-title"><h3>Text Widget</h3></div>
				<div class="widget-text"><p>Donec sed odio dui. Nulla vitae elit liberopsu, alasa pharetra augue. Nullam id doore nieha ultricieseam vehicula ut idea elit. Integer posuererat.</p></div>
			</div>

			<!-- Categories -->
			<div class="widget">
				<div class="widget-title"><h3>Categories</h3></div>
				<div class="widget-categories">
					<ul>
						<li><a href="#">Photography</a></li>
						<li><a href="#">Motion Graphic</a></li>
						<li><a href="#">WordPress Tricks</a></li>
						<li><a href="#">Sentences</a></li>
						<li><a href="#">Video Gallery</a></li>
						<li><a href="#">Artwork</a></li>
					</ul>
				</div>
			</div>

			<!-- Twitter Widget - Blog -->
			<div class="widget">
				<div class="widget-title"><h3>Twitter</h3></div>
				<ul id="twitter-blog"></ul>
				<script type="text/javascript">
					jQuery(document).ready(function($){
						$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
							$("#twitter-blog").html(tz_format_twitter(tweets));
						}); });
				</script>
				<div class="clearfix"></div>
			</div>

			<!-- Flickr Widget - Blog -->
			<div class="widget">
				<div class="widget-title"><h3>Flickr</h3></div>
				<div class="flickr-widget-blog">
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Widget Container-->

</div>
<!-- End 960 Container -->
