<div class="container">
	<!-- 1/3 Columns -->
	<div class="one-third column">
		<div class="feature">
			<div class="feature-circle green"><i icon class="icon-thumbs-up" icon-white></i></div>
			<div class="feature-description">
				<h4>da Vinci:<br>Inveterate Pattern Collector</h4>
				Proin iaculis purus consequat sem cursus digni ssim. Donec porttitor entume suscipit. Aenean rhoncus posuere
				odio in tincidunt.
			</div>
		</div>
	</div>

	<!-- 1/3 Columns -->
	<div class="one-third column">
		<div class="feature">
			<div class="feature-circle gray">?</div>
			<div class="feature-description">
				<h4>Science:<br>Patterns & Processes</h4>
				Nam aliquam volutpat leo vel lorem bibendum. Nuncea elit purusa, tempus pulvinar rhoncus egesta vel nibh
				volutpat leo.
			</div>
		</div>
	</div>

	<!-- 1/3 Columns -->
	<div class="one-third column">
		<div class="feature">
			<div class="feature-circle gray"><i class="icon-bell" icon-white></i></div>
			<div class="feature-description">
				<h4>History:<br>Dialog with Machines</h4>
				Fusce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et
				magna libero.
			</div>
		</div>
	</div>
	<!-- End Features -->
</div>